body {
    background-color: #d5bdaf;
}

.introduction {
    background-color: #edede9;
}

.name {
    font-size: xxx-large;
    font-weight: bolder;
}

.intropic {
    width: 300px;
    height: 390px;
}

